# Compiled executables
# The name of the binary is often the name of the directory or module.
backend
pool-party-api

# Object files, archives, and support files from 'go build'
*.o
*.a
*.swp
*~
*.out

# Dependency directory (if using vendoring)
vendor/

# Environment configuration files
.env
*.env
*.env.local