.userBox {
  float: right;
  padding: 10px;
}

.logoutButton {
  margin-left: 10px;
}

.poolList {
  list-style: none;
  padding: 0;
  clear: both; /* Clear the float from userBox */
}

.poolItem {
  margin-bottom: 20px;
}

.editLink {
  margin-left: 10px;
  font-size: 0.9em;
}

.progressBarContainer {
  border: 1px solid #ccc;
  padding: 2px;
  margin-top: 5px;
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progressBarFill {
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: white;
  transition: width 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

.goalNotch {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}