.errorText {
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid #d8000c;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.successMessage {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.poolInputContainer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.poolLabel {
  min-width: 300px; /* Adjust as needed */
}

.poolInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}

.divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.descriptionContainer {
  margin-top: 20px;
}

.descriptionLabel {
  font-weight: bold;
}

.descriptionTextarea {
  width: 400px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.totalWithdrawal {
  margin-top: 20px;
  font-size: 1.5em;
}

.submitButton {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #dc3545;
  color: white;
  transition: background-color 0.2s;
}

.submitButton:hover:not(:disabled) {
  background-color: #c82333;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}